#customize-page {
  display: none;
  flex-wrap: wrap;
  background-color: rgb(95, 115, 134);
  color: aliceblue;
  padding: 20px;
  border-radius: 15px;
  border: 1px solid dimgray;
}

.box {
  width: 150px;
}

#bt-menu {
  margin: 10px;
  float: left;
}

#link-menu {
  background-color: azure;
  width: 100%;
  height: 45px;
  border-radius: 15px;
}

.desc-menu {
  float: left;
  margin: 15px 0 0 10px;
}
