.pokemon {
  border: 2px solid #2e7f85;
  padding: 10px;
  border-radius: 10px;
  width: 120px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 10px;
}

.pokedex-list {
  text-align: center;
  
}
