body {
  background-color: rgb(241, 250, 238);
  color: rgb(29, 53, 87);
  font-family: Helvetica, sans-serif;
}

fieldset {
  margin: 30px;
  ;
  padding: 20px;
}

label {
  display: block;
  float: left;
  width: 120px;
}

.field {
  margin-top: 10px;
}
