.app {
  background-color: #dae0e4;
  color: rgb(9, 53, 53);
  padding: 20px;
  height: 100vh;
}

.dogInfo {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.breed {
  padding: 10px 0;
}

.imageDog {
  border: 8px solid white;
}